* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.calculadora h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-transform: capitalize;
    font-family: 'Courier New', monospace;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(25, 37, 37);
    border: none;
    color: white;
    margin: 3px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.botao:hover {
    background-color: black;
}

#resultado {
    width: 208px;
    height: 35px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    overflow: hidden;
}
